#!/bin/sh

echo "Install Mac App Store apps via mas"

mas "Deliveries", id: 290986013
mas "Fantastical", id: 975937182
mas "HazeOver", id: 430798174
mas "Reeder", id: 1529448980
mas "Things", id: 904280696   
