{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install Mac Apps via Homebrew Cask
echo "Install Mac Apps via Homebrew Cask"

set -eufo pipefail

{{ $taps := list -}}

{{ $brews := list 
  "lsd"
  "mackup"
  "mas"
  "starship"
  "volta"
-}}

{{ $casks := list
  "1password"
  "bartender"
  "boop"
  "divvy"
  "fantastical"
  "firefox"
  "google-chrome"
  "hazeover"
  "hyper"
  "karabiner-elements"
  "meetingbar"
  "monitorcontrol"
  "notunes"
  "obsidian"
  "raycast"
  "rectangle-pro"
  "spotify"
  "via"
  "visual-studio-code"
  "warp"
-}}

brew bundle --no-lock --file=/dev/stdin <<EOF || :
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
EOF
{{ end -}}
